<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TN.Admin.Web.ASPCore</title>
  <partial name="_ValidationStylesPartial">
      @if (IsSectionDefined("LayoutStyles"))
        {
            @RenderSection("LayoutStyles", required: false)
        }
  </partial>
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
	<!-- Main Header -->
    <partial name="_Header"/>
	<!-- Left side column. contains the logo and sidebar -->
	<partial name="_Navigation"/>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		 <!-- Content Header (Page header) -->
		<section class="content-header">
			<partial name="_Breadcrumbs" />
		</section>
		<!-- Main content -->
		<section class="content">
				<div class="row">
					@RenderBody()
				</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<!-- Footer-->
	<partial name="_Footer" />
	<!-- Control SideBar-->
	<partial name="_ControlSideBar" />
	<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
	<partial name="_ValidationScriptsPartial">
	@if (IsSectionDefined("LayoutScripts"))
	{
		@RenderSection("LayoutScripts", required: false)
	}

	@if (IsSectionDefined("PageScripts"))
	{
		@RenderSection("PageScripts", required: false)
	}
	<partial name="_AlertMessages" />
</body>
</html>
